<h1><%= @owner.nombre%></h1>
<p>
  <b>Nombre:</b> <%= @owner.nombre %><br>
  <b>Cédula:</b> <%= @owner.cedula %><br>
  <b>Teléfono:</b> <%= @owner.telefono %><br>
  <b>Correo:</b> <%= @owner.correo %><br>
  <b>Mascotas:</b> <%= @pet %><br>
  <!-- TODO: Iterar las mascotas y poner nombre, raza y edad -->
  <!-- Usar la relacion @owner.pets -->
</p>

<%= link_to 'Editar información', edit_owner_path(@owner) %>
<%= link_to 'Eliminar información de la persona', owner_path(@owner), data: {
  turbo_method: :delete,
  turbo_confirm: "¿Seguro que deseas eliminar la información de #{@owner.nombre}.?"} %>
<!-- ¿Cómo pongo el nombre acá? -->
