<!-- TODO: Mostrar los errores del formulario cuando hayan errores -->

<h2>Inscribir nueva mascota.</h2>
<%= link_to 'Atrás', pet_path(@pet) %>
<%= form_with model: @pet do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :especie %>
    <%= form.text_field :especie %>
  </div>

  <div>
    <%= form.label :raza %>
    <%= form.text_field :raza %>
  </div>

  <div>
    <%= form.label :comida %>
    <%= form.text_field :comida %>
  </div>

  <div>
    <%= form.label :enfermedades %>
    <%= form.text_area :enfermedades %>
  </div>

  <div>
    <%= form.label :alergias %>
    <%= form.text_area :alergias %>
  </div>

  <div>
    <%= form.label :cuidados%>
    <%= form.text_area :cuidados %>
  </div>

  <div>
    <label>Dueño: </label>
    <%= form.collection_select :owner_id, Owner.all.order(nombre: :asc), :id, :nombre%> <!-- TODO: Creo que se puede sin el .all -->
  </div>
  <%= form.submit "Inscribir mascota" %>
<% end %>
